.Chatbook-container {
  height: calc(100vh - 120px);
}

.Chatbook-container h2 {
  text-align: center;
  margin-top: var(--sper);
}


.Chatbook-userList {
  width: 260px;
  margin-right: var(--l);
}

.Chatbook-chatContainer {
  flex-grow: 1;
  margin-left: 30%;
  margin-right: 30%;
}
