

.displayBlock {
  display: block;
}

.leaveRoomButton {
  border: none;
  background-color: pink;
  justify-content: end;
  /* color: white; */

  margin-right: 0;
  margin-left: auto;

  padding: 16px 32px;

  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  opacity: .8;
  border-radius: 20px;

  float: right;
  margin: 20px;

}

.leaveRoomButton:hover {
  opacity: 1;
}

.leaveRoomButton:active {
  opacity: .5;
}


.gameRoom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.gameRoom.game-board {
  flex-grow: 1;
}

.gameRoom.progressBars {
  flex-grow: 3;
}


.small {
  width: 31.5vmin;
  height: 31.5vmin;
}

.medium {
  width: 56vmin;
  height: 56vmin;
}

.large {
  width: 105vmin;
  height: 56vmin;
}

.coverUp {
  background-color: #b9e6ff80;
  position: absolute;

  z-index: 999;
  color:white;
  font-size: 6em;
}

.coverUp h1 {
  opacity: 0.8;
  text-align: center;
  align-self: center;
  width: 100%;
}


/* .gameRoom h1 {
  width: 105vmin;
} */