
.game-board {
  margin: auto;
  width: 120vmin;
  height: 64vmin;
  background-color: var(--primary);
  border-radius: 30px;


  text-align: center;
}

.displayBlock {
  display: block;
}

.leaveRoomButton {
  border: none;
  background-color: var(--purple2);
  justify-content: end;
  color: white;

  margin-right: 0;
  margin-left: auto;

  padding: 16px 32px;

  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  opacity: .8;
  border-radius: 20px;

  float: right;
  margin: 20px;

}

.leaveRoomButton:hover {
  opacity: 1;
}

.leaveRoomButton:active {
  opacity: .5;
}


.progressBars {
  padding: none;
}


