.profileContainer {
  margin-top: var(--sper);
  margin-left: var(--sper);
  margin-right: var(--sper);

  background-color: pink;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 15px 2px gray;
}

.profile {
  width: 100%;
  justify-content: space-between;
}

.boardSummary {
  width: 100%;
  justify-content: space-between;

  flex-direction: column;
}

.statContainer {
  margin: 30px;

  background-color: var(--purple1);
  padding: 5px;
  border-radius: 50px;
  width: 80%;
  box-shadow: 0 0 15px 2px gray;

}

.statContainer h1, h3 {
  text-align: center;
  margin: 2px;
}

.statContainer h2 {
  font-size: 1.2em;
}

.name {
  align-self: center;
  width: 100%;

}

.stats {
  margin: 30px;

}
.Profile-name {
  font-size: 40px;
  font-weight: 300;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
}

.loadingPage {
  /* could add animations */
}
