.profileContainer {
  margin-top: var(--sper);
  margin-left: var(--mper);
  margin-right: var(--mper);

  background-color: pink;
  padding: 30px;
  border-radius: 50px;
}

.name {
  flex-grow: .5;
}

.stats {
  flex-grow: 3;
  margin: 30px;
  padding-left: 80px;
}
.Profile-name {
  font-size: 40px;
  font-weight: 300;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
}

.loadingPage {
 /* could add animations */

}