/* Fill me in :) */

/* enclosing container */

body {
  background-color: var(--primary3);
}

.lobbyBox {
  background-color: var(--grey); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: var(--mper);
  margin-right: var(--mper); /* would be better as auto? */
  font-size: 16px;
  border-radius: 50px;
  margin-top: var(--sper);
}

/*making lobby boxes */
.minesweeperButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


.minesweeperButton > * {
  padding: none;
  margin: none;
  font-weight: 300;
  overflow-wrap:break-word;
}

.minesweeperButton h3 {
  font-size: 1.1em;
}

.minesweeperButtonContainer div a {
  text-decoration: none;
}

.minesweeperButton {
  /* change to table cells later! */
  background-image: url("../../public/images/blocktemp.png");
  background-repeat: no-repeat;
  background-size: contain;

  margin: none;

  height: 20vmin;
  width: 20vmin;

  border: none;
  color: var(--darkgrey);

  padding: 2vmin 2vmin;

  font-size: 1.2vw;

  border: 15px;

  text-align: center;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */

  cursor: pointer;

  opacity: 0.8;
}

.minesweeperButton:hover {
  opacity: 1;
  color: var(--grey);
}

.minesweeperButton:active {
  opacity: 0.5;
}

.roomCount {
  margin-top: 10px;
  margin-bottom: 30px;
}

.rulesBox {
  /* edit!! */
  margin: var(--sper) var(--mper) var(--sper) var(--mper);
  background-color: var(--grey);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 50px;
}
