.Chat-container {
  height: 40vh;
  width: 100%;
}

.Chat-newContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-left: none;
}

.Chat-historyContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: auto;
}
