.Chat-container {
  height: 100%;
  width: 100%;
}

.Chat-newContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-left: none;

  
}

.Chat-newContainer h4 {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1.1em;
}

.Chat-historyContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;


  overflow-y: auto;
  margin-left: 10%;
  margin-right: 10%;
}
