/* body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}

#game-board {
  background-color: black;
  width: 150vmin;
  height: 80vmin;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(30, 1fr);
  grid-auto-rows: 0;
  grid-auto-columns: 0;
}
.block {
  border: 3px;
  height: 100%;
}

.hidden {
  background-color: gray;
  border: 0;
} */

/* .flagged {
  background-color: green;
  eventually it'll just add a flag
  border: 0;
} */

/* .mined {
  background-color: red;
  border: 0;
  eventually it'll just add a mine
} */

/* .opened {
  background-color: blue;
  border: 0;
  will definitely change later
} */
