.NewPostInput-input,
.NewPostInput-button {
  /* font-family: "Comic Sans"; */
  font-size: 18px;
  padding: var(--s) var(--m);
}

:root {
  --commonMargin: 10%; /* common variable */
}

.NewPostInput-input {
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  margin-left: var(--commonMargin);
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.NewPostInput-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: none;
}

.NewPostInput-button {
  color: white;
  border: var(--grey) 1px solid;
  opacity: 0.8;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: var(--grey);
  transition: color 0.1s, background 0.1s;
  margin-right: var(--commonMargin);
  margin-top: 10px;
}

.NewPostInput-button:hover {
  opacity: 1;
}

.NewPostInput-button:active {
  opacity: 0.5;
}

.checkbox {
  width:inherit;
  /* add styling to box soon */
}