.SingleMessage-container {
  margin: 0 0 var(--xs);
}

.SingleMessage-sender {
  width: 106px;
  margin-right: var(--xs);
  flex-shrink: 0;
}


.SingleMessage-mine .SingleMessage-content {
  background: var(--primary--dim);
  color: var(--white);
}

.messageyeet {
  border-radius: var(--s);
  width: 18vw;
  overflow-wrap: break-word;
  hyphens: auto;
}
